// ---------
// STRUCTURE
// ---------
//
// intro-container 
//		intro-hero
//		intro-split-content
// CLEARFIX on intro container
// 
// 		intro-split-content
//			skype-box: float left
//			intro-monitor: float right (small media queries, no float)
// 		CLEARFIX intro-split-content
// 
// 			skype-box
//				skype-box-head
//				skype-box-split
// 			CLEARFIX skype-box
// 
// 				skype-box-split
//					skype-box-subhead: float left
//					skype-box-img: float right
// 				CLEARFIX skype-box-split




.intro-container{
	background-color: #fff;
	@include clearfix;
	margin: 2% 5% 0;
	@include breakpoint(mobile-flip) {
		margin-top: 1%;
		}	
	
	
} 		

// HERO HEADING - USING FITTEXT TO ALWAYS KEEP 1 LINE/MAX WIDTH TEXT 
.intro-hero {
	width: 100%;
	margin-bottom: 3%;
	@include breakpoint(medium) {
		margin-top: 6%;
		}
	@include breakpoint(small) {
		margin-top: 13%;
		}
	@include breakpoint(oldp) {
		margin-top: 20%;
		}
	@include breakpoint(newp) {
		margin-top: 22%;
		}	
	@include breakpoint(mobile-flip) {
		margin-bottom: 0;
		padding-bottom: 0;
		}

	.intro-hero-text {
		text-align: center;
	}
}

// SPLITS HERO TEXT WITH THE REST OF THE CONTENT
.intro-split-content {
	@include clearfix;
	box-sizing: border-box;
	width: 100%;
	padding: 0 2%;	
}

// IMG AND CONTAINER FOR SCALING
.intro-monitor {
	float: right;
	width: 58%;
	@include breakpoint(medium) {
		width: 52%;
		}
	@include breakpoint(small) {
		width: 52%;
		}

	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		padding: 5% 15% 0 15%;
		width: 100%;
		}
}
.monitor {
	width: 100%;
}


// CONTENT FLOATED LEFT OF MONITOR
// HEADINGS AND SKYPE IMG
.skype-box {
	float: left;
	margin-top: 5%;
	@include breakpoint(mobile-flip) {
		width: 100%;
		margin: 0 0 5%;
		}
}

.skype-box-head {
	box-sizing: border-box;
	margin: 0 0 8%;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(42px);
	//BREAKPOINTS
	@include breakpoint(laptop) {
			@include font-size(35px);
			}
	@include breakpoint(netbook) {
		@include font-size(26px);
		}
	@include breakpoint(medium) {
		@include font-size(22px);
		}
	@include breakpoint(small) {
		@include font-size(18px);
		}
	@include breakpoint(newp) {
		@include font-size(16px);
		}
	@include breakpoint(oldp) {
		@include font-size(16px);
		}
	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 0 10%;;
		text-align: center;
		}
}


// SPLITS TEXT AND SKYPE CALL IN IMG
.skype-box-split {
	@include clearfix;
	width: 100%;
	
}

.skype-box-subhead {
	box-sizing: border-box;
	margin-top: 5%;
	float: left;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(31px);
	//BREAKPOINTS
	@include breakpoint(laptop) {
		@include font-size(27px);
		}
	@include breakpoint(netbook) {
		@include font-size(22px);
		}
	@include breakpoint(medium) {
		@include font-size(17px);
		}
	@include breakpoint(small) {
		@include font-size(16px);
		}
	@include breakpoint(newp) {
		@include font-size(14px);
		}
	@include breakpoint(oldp) {
		@include font-size(13px);
		}
	@include breakpoint(mobile-flip) {
		float: left;
		box-sizing: border-box;
		width: 100%;
		margin: 2% 0 2%;
		padding: 0 20%;
		text-align: center;
		}
}

.skype-box-img {
	float: left;
	margin-left: 11%;
	width: 22%;
	//BREAKPOINTS
	@include breakpoint(laptop) {
		width: 21%;
		}
	@include breakpoint(netbook) {
		width: 20%;
		}
	@include breakpoint(medium) {
		width: 16%;
		margin-top: 2%;
		}
	@include breakpoint(small) {
		width: 13%;
		}
	@include breakpoint(oldp) {
		width: 12%;
		}
	@include breakpoint(newp) {
		width: 11%;
		}
	@include breakpoint(mobile-flip) {
		display: none;
		}
}
.skype {
	width: 100%;
}



// GET RID OF LINE BREAKS FOR MOBILE VIEW
.intro-subhead-break {
		@include breakpoint(mobile-flip) {
		display: none;
		}
}





img {
	max-width: 100%;
}






/*
.intro-left-content {
	width: 38%;
	float: left;
	padding-left: 1.1%;
	padding-bottom: 10%
}
.intro-h3 {
	margin-top: 15%;
}
.intro-h2 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: .6em;
}


.ratio-box{
	position: relative;
	width: 55%;		
	display: block;
	float: right;
	left: 0;
}
.ratio-box:before{
	content: "";
	display: block;
	padding-top: 75%;	
}
.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.monitor {
	z-index: 1;
	position:absolute;
	left: -8%;;
	top: -10%;
	width: 110%;
}
.play-button {
	width: 20%;
	position: absolute;
	left: 37%;
	top: 22%;
	z-index: 2;
	-webkit-animation: super-rainbow 8s infinite alternate linear; 
     -moz-animation: super-rainbow 4s infinite alternate linear; 
	border: .01em solid rgba(255, 255, 255, 0);
	border-radius: 100em;
}

@-webkit-keyframes super-rainbow {
    0%   { background: #fff; } 
  
    50%  { background: #b5b5b5; }


    100% { background: #fff; }
}

@-moz-keyframes super-rainbow {
    0%   { background: #fff; } 
    20%  { background: #ff2a2a; }
    40%  { background: #1f5081; }
    60%  { background: #043253; }
    80%  { background: #204271; }
    100% { background: #416589; }
}



.skype {
	width: 14%;
	position: absolute;
	left: -39%;
	top: 25%;
	z-index: 2;

}

*/


//http://i.imgur.com/JDPgq5F.png