// ---------
// STRUCTURE
// ---------
//
// intro-wrapper 
//		intro-hero
//		intro-split-content
// CLEARFIX on intro container
// 
// 		intro-split-content
//			skype-box: float left
//			intro-monitor: float right (small media queries, no float)
// 		CLEARFIX intro-split-content
// 
// 			skype-box
//				skype-box-head
//				skype-box-split
// 			CLEARFIX skype-box
// 
// 				skype-box-split
//					skype-box-subhead: float left
//					skype-box-img: float right
// 				CLEARFIX skype-box-split
 

// -------------------------------------
// WRAPS EVERYTHING ON INTRO PAGE
.intro-wrapper{
	background-color: #fff;
	@include clearfix;
	margin: 3% 5% 0;
	//BREAKPOINTS
	@include breakpoint(mobile-flip) {
		margin-top: 1%;
		}	
} 		
 
// -------------------------------------
// HERO HEADING - USING FITTEXT TO ALWAYS KEEP 1 LINE/MAX WIDTH TEXT 
.intro-hero {
	width: 100%;
	margin-bottom: 3.5%;
	//BREAKPOINTS
	@include breakpoint(medium) {
		margin-top: 6%;
		}
	@include breakpoint(mobile-flip) {
		margin-top: 12%;
		}
	@include breakpoint(small) {
		margin-top: 14%;
		}
	@include breakpoint(oldp) {
		margin-top: 25%;
		}
	@include breakpoint(newp) {
		margin-top: 22%;
		}	
	.intro-hero-text {
		text-align: center;
	}
}


// -------------------------------------
// SPLITS HERO TEXT WITH THE REST OF THE CONTENT
.intro-split-content {
	@include clearfix;
	box-sizing: border-box;
	width: 100%;
	padding: 0 2%;	
}

// CONTENT FLOATED LEFT OF MONITOR. ON MOBILE FLIP
// FLOAT NONE, HIDE SKYPE (WILL REPLACE W/ DIFF ICON)
.skype-box {
	float: left;
	margin-top: 4%;
	//BREAKPOINT
	@include breakpoint(mobile-flip) {
		width: 100%;
		margin: 0 0 5%;
		float: none;
		}
}
// TOP  MOST HEADING FOR SKYPE BOX
.skype-box-head {
	box-sizing: border-box;
	margin: 0 0 8%;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(42px);
	//BREAKPOINTS
	@include breakpoint(laptop) {
		@include font-size(35px);
		}
	@include breakpoint(netbook) {
		@include font-size(26px);
		}
	@include breakpoint(medium) {
		@include font-size(22px);
		}
	@include breakpoint(small) {
		@include font-size(21px);
		}
	@include breakpoint(newp) {
		@include font-size(20px);
		}
	@include breakpoint(oldp) {
		@include font-size(19px);
		}
	// LAYOUT CHANGE
	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		margin: 0;
		padding: 0 1%;;
		text-align: center;
		transition: all 1s;
		}
}

// SPLITS TEXT AND SKYPE CALL IN IMG
.skype-box-split {
	@include clearfix;	
}
.skype-box-subhead {
	box-sizing: border-box;
	margin-top: 5%;
	float: left;
	font-family: $h2-font-fam;
	color: $darkgrey;
	font-weight: 400;
	line-height: 1.2em;
	@include font-size(31px);
	//BREAKPOINTS
	@include breakpoint(laptop) {
		@include font-size(27px);
		}
	@include breakpoint(netbook) {
		@include font-size(22px);
		}
	@include breakpoint(medium) {
		@include font-size(17px);
		}
	@include breakpoint(small) {
		@include font-size(17px);
		}
	@include breakpoint(newp) {
		@include font-size(17px);
		}
	@include breakpoint(oldp) {
		@include font-size(16px);
		}
	// LAYOUT CHANGE
	@include breakpoint(mobile-flip) {
		
		box-sizing: border-box;
		width: 100%;
		margin: 5% 0 0;
		padding: 0 1%;
		text-align: center;
		transition: all 1s;
		}
}

.skype-box-img {
	float: left;
	margin-left: 11%;
	width: 22%;
	//BREAKPOINTS
	@include breakpoint(laptop) {
		width: 21%;
		}
	@include breakpoint(netbook) {
		width: 20%;
		}
	@include breakpoint(medium) {
		width: 16%;
		margin-top: 2%;
		}
	@include breakpoint(small) {
		width: 13%;
		}
	@include breakpoint(oldp) {
		width: 12%;
		}
	@include breakpoint(newp) {
		width: 11%;
		}
	@include breakpoint(mobile-flip) {
		display: none;
		}
}
.skype {
	width: 100%;
	opacity: 1;
}

// GET RID OF LINE BREAKS FOR MOBILE VIEW
.intro-br {
		@include breakpoint(oldp) {
		
		}
}


// -------------------------------------
// MONITOR IMG AND CONTAINER FOR SCALING
.monitor-box {
	float: right;
	width: 58%;
	//BREAKPOINTS
	@include breakpoint(medium) {
		width: 52%;
		}
	@include breakpoint(small) {
		width: 52%;
		}
	@include breakpoint(mobile-flip) {
		float: none;
		box-sizing: border-box;
		padding: 3% 10% 0 10%;
		width: 100%;
		transition: all 1s;
		}
}
// WRAPS MONITOR AND PLAY BUTTON
// BUTTON ABSOLUTE POSITIONING BASED ON THIS CONTAINER
.center-play {
	width: 100%;
	position: relative;
}
.monitor {
	width: 100%;
}
// MAIN BUTTON AND HOVER
.play-button {
	position: absolute;
	top: 27%;
	left: 39.35%;
	width: 20%;
	box-sizing: border-box;
	border-radius: 50%;
	box-shadow:  0 0 1px 3px rgb(255, 255, 255);
	/*border: 5px solid rgba(255, 255, 255, 0.52);*/
	opacity: .9;
}

.play-button:hover {
	box-sizing: border-box;
	border-radius: 100%;
	box-shadow:  0 0 5px 5px rgba(10, 10, 10, 0.53);
	opacity: .8;
	
}
// SAME BUTTON LAYERED BEHIND USED FOR BURSTING ANIMATION
.play-button-animate {
	position: absolute;
	top: 28.25%;
	left: 40.4%;
	width: 18%;
	height: 23%;  
	background-color: rgb(255, 255, 255);
	border-radius: 100%;  
	box-sizing: border-box;
	box-shadow: 0 0 10px 10px rgb(255, 255, 255);

}



img {
	max-width: 100%;
}


