.twitter-container {
	position: relative;
	margin: 10% 23% 15% 23%;
	@include breakpoint(laptop) { margin: 10% 18% 15% 18%; }
	@include breakpoint(netbook) { margin: 10% 16% 18% 16%; }
	@include breakpoint(medium) { margin: 10% 14% 22% 14%; }
	@include breakpoint(small) { margin: 10% 5% 28% 5%; }
	@include breakpoint(newp) { margin: 10% 4% 25% 4%; }
	@include breakpoint(oldp) { margin: 10% 2% 25% 3%; }
}



/*
.small-logo { 
 	max-width: 120px;
	position: absolute; 
	right: 0; 
	top: 15.5%;
	@include breakpoint(laptop) { width: 110px; } 
	@include breakpoint(netbook) { width: 100px; }
	@include breakpoint(medium) { width: 90px; } 
	@include breakpoint(small) { width: 80px; }
	@include breakpoint(newp) { width: 70px; } 
	@include breakpoint(oldp) { width: 65px; } 
}
*/



.twitter-head {
	color: $headingblue;
	line-height: 1.4;
}

.h1-subhead {
	line-height: 1.4;
	color: $headingblue;
	margin-bottom: 3.5%;
}

.tweet-box {
	position: relative;
	z-index: 0;
	margin-bottom: 5%;
}
.tweet-box:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 30px 0;
	border-color: transparent #ffffff transparent transparent;
	top: 0px;
	right: 0px;
	position: absolute;
	z-index: 5;
}



.tweet-box {
	background-color: $darkblue;
	box-sizing: border-box;
	padding: 2.5% 3% 2%;
	@include clearfix;
	box-shadow: -7px 7px 0px 0px $pinkred-dull;
	border-top-right-radius: 0;

}

.tweet {
	display: inline-block;
	width: 100%;
	line-height: 1.4;
	color: $lightblue;
	font-family: $h2-font-fam;
	font-weight: 400;
		@include breakpoint(hires) { @include font-size(32px); }
		@include breakpoint(desktop) { @include font-size(30px); }
		@include breakpoint(laptop) { @include font-size(27px); }
		@include breakpoint(netbook) { @include font-size(24px); }
		@include breakpoint(medium) { @include font-size(21px); }
		@include breakpoint(small) { @include font-size(15px); }
		@include breakpoint(newp) { @include font-size(13px); }
		@include breakpoint(oldp) { @include font-size(12px); }
}

.tweet-time {
	margin-top: 1%;
	box-sizing: border-box;
	text-align: right;
	color: $pinkred;
	font-family: $h2-font-fam;
	font-size: 46px;
	@include breakpoint(hires) { font-size: 100%; }
		@include breakpoint(hires) { @include font-size(30px); }
		@include breakpoint(desktop) { @include font-size(25px); }
		@include breakpoint(laptop) { @include font-size(23px); }
		@include breakpoint(netbook) { @include font-size(19px); }
		@include breakpoint(medium) { @include font-size(17px); }
		@include breakpoint(small) { @include font-size(14px); }
		@include breakpoint(newp) { @include font-size(12px); }
		@include breakpoint(oldp) { @include font-size(10px); }
}