@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Anton);
/* line 6, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
html, button, input, select, textarea {
  color: #222; }

/* line 11, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 16, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 21, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 33, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
audio, canvas, img, video {
  vertical-align: middle; }

/* line 37, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 43, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
textarea {
  resize: vertical; }

/* line 47, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.92em 0; }

/* ===============
    ALL: IE Fixes
   =============== */
/* line 60, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 68, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

/* line 75, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/* line 82, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 87, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 99, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 108, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.invisible {
  visibility: hidden; }

/* line 113, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 118, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.clearfix:after {
  clear: both; }

/* line 122, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 131, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 139, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  a, a:visited {
    text-decoration: underline; }

  /* line 143, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 147, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 153, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 158, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 163, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  thead {
    display: table-header-group; }

  /* line 168, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  tr, img {
    page-break-inside: avoid; }

  /* line 172, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 182, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 188, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/helper-classes-reset */
  h2, h3 {
    page-break-after: avoid; }
 }

/*********************************************
	BASE FONT SIZING
*********************************************/
/*********************************************
	MIXINS
*********************************************/
/*********************************************
	- 1.0 -  COLOURS
*********************************************/
/* Find colour names - http://chir.ag/projects/name-that-color/ */
/*********************************************
	- 2.0 -  GRADIENTS
*********************************************/
/*********************************************
	- 3.0 -  TYPOGRAPHY
*********************************************/
/* - 3.1. - FONT WEIGHTS
	------------------------------------------ */
/* - 3.1. - BASE FONTS
	------------------------------------------ */
/* - 3.2. - HEADER FONTS
	------------------------------------------ */
/* RANDOM FUNCTIONS / MIXINS */
/* line 8, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/typography */
h1, h2, h3, h4, h5, h6, ul, ol, dl, fieldset, p, table, pre, hr {
  font-weight: normal;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/* line 14, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/typography */
h1 {
  font-family: 'Oswald', sans-serif;
  color: #484747;
  font-weight: 400;
  line-height: 1.72em; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    h1 {
      font-size: 70px;
      font-size: 4.375rem; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    h1 {
      font-size: 64px;
      font-size: 4rem; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    h1 {
      font-size: 54px;
      font-size: 3.375rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    h1 {
      font-size: 44px;
      font-size: 2.75rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    h1 {
      font-size: 34px;
      font-size: 2.125rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    h1 {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    h1 {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media only screen and (max-width: 320px) {
    h1 {
      font-size: 20px;
      font-size: 1.25rem; } }

/* line 29, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/typography */
.h1-subhead {
  font-family: 'Oswald', sans-serif;
  color: #484747;
  font-weight: 400;
  line-height: 1.2 em; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .h1-subhead {
      font-size: 36px;
      font-size: 2.25rem; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    .h1-subhead {
      font-size: 32px;
      font-size: 2rem; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .h1-subhead {
      font-size: 28px;
      font-size: 1.75rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .h1-subhead {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .h1-subhead {
      font-size: 20px;
      font-size: 1.25rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .h1-subhead {
      font-size: 16px;
      font-size: 1rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .h1-subhead {
      font-size: 15px;
      font-size: 0.9375rem; } }
  @media only screen and (max-width: 320px) {
    .h1-subhead {
      font-size: 13px;
      font-size: 0.8125rem; } }

/* line 45, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/typography */
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #484747;
  font-weight: 400;
  line-height: 1.2em; }

/* line 1, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
.header-stripe {
  width: 100%;
  height: 45px;
  background-color: rgba(237, 237, 237, 0.96);
  position: fixed;
  z-index: 999;
  top: 0;
  clear: both; }

/* line 11, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
.header-logo {
  float: right;
  height: 45px;
  margin-right: 5%; }
  /* line 16, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  .header-logo img {
    float: right;
    height: auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 1281px) and (max-width: 1600px) {
      .header-logo img {
        max-width: 90%; } }
    @media only screen and (min-width: 1006px) and (max-width: 1280px) {
      .header-logo img {
        max-width: 80%; } }
    @media only screen and (min-width: 756px) and (max-width: 1005px) {
      .header-logo img {
        max-width: 80%; } }
    @media only screen and (min-width: 381px) and (max-width: 755px) {
      .header-logo img {
        max-width: 70%; } }
    @media only screen and (min-width: 321px) and (max-width: 380px) {
      .header-logo img {
        max-width: 65%; } }
    @media only screen and (max-width: 320px) {
      .header-logo img {
        max-width: 60%; } }

/* line 44, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
ul {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: center;
  list-style-type: none;
  max-width: 60%;
  height: 45px;
  margin: 0 0 0 4%;
  padding: 0; }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    ul {
      max-width: 60%;
      font-size: 20px;
      font-size: 1.25rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    ul {
      max-width: 65%;
      font-size: 17px;
      font-size: 1.0625rem; } }

/* line 65, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
li {
  width: 11%;
  float: left;
  list-style-type: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 71, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
li:last-child {
  border-right: none; }

/* line 74, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
li a {
  text-decoration: none;
  display: block;
  width: 100%; }

/* line 86, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
a {
  text-decoration: none;
  color: #1f4c73; }

/* line 87, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
a:visited {
  text-decoration: none; }

/* line 88, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
a:focus {
  text-decoration: none; }

/* line 89, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
a:hover, a:active {
  text-decoration: none; }

/* line 90, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
a:hover {
  text-decoration: none;
  background-color: white;
  border-radius: 2px; }

@media screen and (max-width: 1005px) {
  /* line 98, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  #menu {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 1em;
    display: block;
    color: #33558b;
    font-size: 1.75em;
    text-align: center; }
    @media only screen and (min-width: 321px) and (max-width: 380px) {
      #menu {
        max-width: 65%; } }
    @media only screen and (max-width: 320px) {
      #menu {
        max-width: 60%; } }

  /* line 115, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  .fa-chevron {
    display: none; }

  /* line 118, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  #nav.js {
    display: none; }

  /* line 121, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  ul {
    max-width: 100%;
    margin: 0; }

  /* line 125, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  li {
    width: 100%;
    border-right: none;
    background-color: #e2e2e2; }

  /* line 130, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  li a {
    padding: 1%;
    width: 100%; }

  /* line 135, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  a:hover {
    background-color: #fff; }
 }

@media screen and (min-width: 1005px) {
  /* line 142, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  #menu {
    display: none; }

  /* line 145, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/menu */
  #menu-icon2 {
    display: none; }
 }

/* line 28, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.intro-container {
  background-color: #fff;
  margin: 2% 5% 0; }
  /* line 60, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .intro-container:before, .intro-container:after {
    content: "";
    display: table; }
  /* line 64, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .intro-container:after {
    clear: both; }
  @media only screen and (max-width: 768px) {
    .intro-container {
      margin-top: 1%; } }

/* line 40, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.intro-hero {
  width: 100%;
  margin-bottom: 3%; }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .intro-hero {
      margin-top: 6%; } }
  @media only screen and (max-width: 768px) {
    .intro-hero {
      margin-top: 12%; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .intro-hero {
      margin-top: 14%; } }
  @media only screen and (max-width: 320px) {
    .intro-hero {
      margin-top: 25%; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .intro-hero {
      margin-top: 22%; } }
  /* line 59, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
  .intro-hero .intro-hero-text {
    text-align: center; }

/* line 67, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.intro-split-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%; }
  /* line 60, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .intro-split-content:before, .intro-split-content:after {
    content: "";
    display: table; }
  /* line 64, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .intro-split-content:after {
    clear: both; }

/* line 76, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.skype-box {
  float: left;
  margin-top: 4%; }
  @media only screen and (max-width: 768px) {
    .skype-box {
      width: 100%;
      margin: 0 0 5%;
      float: none; } }

/* line 87, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.skype-box-head {
  box-sizing: border-box;
  margin: 0 0 8%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #484747;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 42px;
  font-size: 2.625rem; }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .skype-box-head {
      font-size: 35px;
      font-size: 2.1875rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .skype-box-head {
      font-size: 26px;
      font-size: 1.625rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .skype-box-head {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .skype-box-head {
      font-size: 21px;
      font-size: 1.3125rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .skype-box-head {
      font-size: 20px;
      font-size: 1.25rem; } }
  @media only screen and (max-width: 320px) {
    .skype-box-head {
      font-size: 19px;
      font-size: 1.1875rem; } }
  @media only screen and (max-width: 768px) {
    .skype-box-head {
      float: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0 1%;
      text-align: center;
      transition: all 1s; } }

/* line 60, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
.skype-box-split:before, .skype-box-split:after {
  content: "";
  display: table; }
/* line 64, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
.skype-box-split:after {
  clear: both; }

/* line 129, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.skype-box-subhead {
  box-sizing: border-box;
  margin-top: 5%;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: #484747;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 31px;
  font-size: 1.9375rem; }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .skype-box-subhead {
      font-size: 27px;
      font-size: 1.6875rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .skype-box-subhead {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .skype-box-subhead {
      font-size: 19px;
      font-size: 1.1875rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .skype-box-subhead {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .skype-box-subhead {
      font-size: 17px;
      font-size: 1.0625rem; } }
  @media only screen and (max-width: 320px) {
    .skype-box-subhead {
      font-size: 16px;
      font-size: 1rem; } }
  @media only screen and (max-width: 768px) {
    .skype-box-subhead {
      box-sizing: border-box;
      width: 100%;
      margin: 5% 0 0;
      padding: 0 1%;
      text-align: center;
      transition: all 1s; } }

/* line 169, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.skype-box-img {
  float: left;
  margin-left: 11%;
  width: 22%; }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .skype-box-img {
      width: 21%; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .skype-box-img {
      width: 20%; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .skype-box-img {
      width: 16%;
      margin-top: 2%; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .skype-box-img {
      width: 13%; } }
  @media only screen and (max-width: 320px) {
    .skype-box-img {
      width: 12%; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .skype-box-img {
      width: 11%; } }
  @media only screen and (max-width: 768px) {
    .skype-box-img {
      display: none; } }

/* line 197, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.skype {
  width: 100%;
  opacity: 1; }

/* line 212, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.intro-monitor {
  float: right;
  width: 58%; }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .intro-monitor {
      width: 52%; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .intro-monitor {
      width: 52%; } }
  @media only screen and (max-width: 768px) {
    .intro-monitor {
      float: none;
      box-sizing: border-box;
      padding: 3% 10% 0 10%;
      width: 100%;
      transition: all 1s; } }

/* line 232, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.center-play {
  width: 100%;
  position: relative; }

/* line 236, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.monitor {
  width: 100%; }

/* line 240, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.play-button {
  position: absolute;
  top: 27%;
  left: 39.35%;
  width: 20%;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 1px 3px white;
  /*border: 5px solid rgba(255, 255, 255, 0.52);*/
  opacity: 0.9; }

/* line 252, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.play-button:hover {
  box-sizing: border-box;
  border-radius: 100%;
  box-shadow: 0 0 5px 5px rgba(10, 10, 10, 0.53);
  opacity: 0.8; }

/* line 260, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
.play-button-animate {
  position: absolute;
  top: 28.25%;
  left: 40.4%;
  width: 18%;
  height: 23%;
  background-color: white;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 10px white; }

/* line 275, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/intro */
img {
  max-width: 100%; }

/* line 1, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.schedule-container {
  border-top: 25px solid rgba(76, 76, 76, 0.22);
  border-bottom: 25px solid rgba(76, 76, 76, 0.22); }
  @media only screen and (max-width: 768px) {
    .schedule-container {
      border-top: 15px solid rgba(76, 76, 76, 0.23);
      border-bottom: 15px solid rgba(76, 76, 76, 0.23); } }

/* line 10, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.video-ratio-box {
  height: 720px;
  width: 100%;
  background-color: #000;
  display: block;
  position: relative; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .video-ratio-box {
      height: 770px; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    .video-ratio-box {
      height: 710px; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .video-ratio-box {
      height: 500px; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .video-ratio-box {
      height: 420px; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .video-ratio-box {
      height: 325px; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .video-ratio-box {
      height: 260px; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .video-ratio-box {
      height: 200px; } }
  @media only screen and (max-width: 320px) {
    .video-ratio-box {
      height: 150px; } }

@media only screen and (min-width: 1921px) and (max-width: 2565px) {
  .schedule-h2 {
    font-size: 195%; } }
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
  .schedule-h2 {
    font-size: 190%; } }
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  .schedule-h2 {
    font-size: 170%; } }
@media only screen and (min-width: 1006px) and (max-width: 1280px) {
  .schedule-h2 {
    font-size: 160%; } }
@media only screen and (min-width: 756px) and (max-width: 1005px) {
  .schedule-h2 {
    font-size: 140%; } }
@media only screen and (min-width: 381px) and (max-width: 755px) {
  .schedule-h2 {
    font-size: 90%; } }
@media only screen and (min-width: 321px) and (max-width: 380px) {
  .schedule-h2 {
    font-size: 70%; } }
@media only screen and (max-width: 320px) {
  .schedule-h2 {
    font-size: 65%; } }

/* line 39, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

/* line 49, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.schedule-head {
  position: absolute;
  width: 100%;
  height: 37%;
  top: -25%;
  bottom: 0;
  margin: auto;
  opacity: 0.99;
  text-shadow: 4px 5px 20px #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  color: #fff; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .schedule-head {
      font-size: 70px;
      font-size: 4.375rem; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    .schedule-head {
      font-size: 64px;
      font-size: 4rem; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .schedule-head {
      font-size: 54px;
      font-size: 3.375rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .schedule-head {
      font-size: 44px;
      font-size: 2.75rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .schedule-head {
      font-size: 34px;
      font-size: 2.125rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .schedule-head {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .schedule-head {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media only screen and (max-width: 320px) {
    .schedule-head {
      font-size: 20px;
      font-size: 1.25rem; } }

/* line 72, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.schedule-content {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  margin: auto;
  height: 18%;
  z-index: 11;
  text-align: center;
  color: red; }

/* line 85, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.schedule-dates {
  color: #fff;
  opacity: 0.99;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  width: 100%; }

/* line 93, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/schedule */
.video-content-overlay {
  background-color: #000;
  opacity: 0.65;
  position: absolute;
  top: 36%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 31%;
  z-index: 10; }

/* line 1, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.twitter-container {
  position: relative;
  margin: 10% 23% 15% 23%; }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .twitter-container {
      margin: 10% 18% 15% 18%; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .twitter-container {
      margin: 10% 16% 18% 16%; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .twitter-container {
      margin: 10% 14% 22% 14%; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .twitter-container {
      margin: 10% 5% 28% 5%; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .twitter-container {
      margin: 10% 4% 25% 4%; } }
  @media only screen and (max-width: 320px) {
    .twitter-container {
      margin: 10% 2% 25% 3%; } }

/*
.small-logo { 
 	max-width: 120px;
	position: absolute; 
	right: 0; 
	top: 15.5%;
	@include breakpoint(laptop) { width: 110px; } 
	@include breakpoint(netbook) { width: 100px; }
	@include breakpoint(medium) { width: 90px; } 
	@include breakpoint(small) { width: 80px; }
	@include breakpoint(newp) { width: 70px; } 
	@include breakpoint(oldp) { width: 65px; } 
}
*/
/* line 31, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.twitter-head {
  color: #02518c;
  line-height: 1.4; }

/* line 36, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.h1-subhead {
  line-height: 1.4;
  color: #02518c;
  margin-bottom: 3.5%; }

/* line 42, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.tweet-box {
  position: relative;
  z-index: 0;
  margin-bottom: 5%; }

/* line 47, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.tweet-box:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #ffffff transparent transparent;
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 5; }

/* line 62, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.tweet-box {
  background-color: #14436d;
  box-sizing: border-box;
  padding: 2.5% 3% 2%;
  box-shadow: -7px 7px 0px 0px #e86767;
  border-top-right-radius: 0; }
  /* line 60, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .tweet-box:before, .tweet-box:after {
    content: "";
    display: table; }
  /* line 64, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/modules/utility */
  .tweet-box:after {
    clear: both; }

/* line 72, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.tweet {
  display: inline-block;
  width: 100%;
  line-height: 1.4;
  color: #beddfc;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .tweet {
      font-size: 32px;
      font-size: 2rem; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    .tweet {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .tweet {
      font-size: 27px;
      font-size: 1.6875rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .tweet {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .tweet {
      font-size: 21px;
      font-size: 1.3125rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .tweet {
      font-size: 15px;
      font-size: 0.9375rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .tweet {
      font-size: 13px;
      font-size: 0.8125rem; } }
  @media only screen and (max-width: 320px) {
    .tweet {
      font-size: 12px;
      font-size: 0.75rem; } }

/* line 89, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/twitter */
.tweet-time {
  margin-top: 1%;
  box-sizing: border-box;
  text-align: right;
  color: #ff8677;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 46px; }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .tweet-time {
      font-size: 100%; } }
  @media only screen and (min-width: 1921px) and (max-width: 2565px) {
    .tweet-time {
      font-size: 30px;
      font-size: 1.875rem; } }
  @media only screen and (min-width: 1601px) and (max-width: 1920px) {
    .tweet-time {
      font-size: 25px;
      font-size: 1.5625rem; } }
  @media only screen and (min-width: 1281px) and (max-width: 1600px) {
    .tweet-time {
      font-size: 23px;
      font-size: 1.4375rem; } }
  @media only screen and (min-width: 1006px) and (max-width: 1280px) {
    .tweet-time {
      font-size: 19px;
      font-size: 1.1875rem; } }
  @media only screen and (min-width: 756px) and (max-width: 1005px) {
    .tweet-time {
      font-size: 17px;
      font-size: 1.0625rem; } }
  @media only screen and (min-width: 381px) and (max-width: 755px) {
    .tweet-time {
      font-size: 14px;
      font-size: 0.875rem; } }
  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .tweet-time {
      font-size: 12px;
      font-size: 0.75rem; } }
  @media only screen and (max-width: 320px) {
    .tweet-time {
      font-size: 10px;
      font-size: 0.625rem; } }

/* line 21, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/style.scss */
img {
  max-width: 100%; }

/* line 26, C:/Users/The Box/Desktop/CODING/_TCA-NEW/css/scss/style.scss */
.next-div2 {
  height: 100px;
  width: 100%;
  background-color: #a30e0e; }

/*# sourceMappingURL=style.css.map */